*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 180px;
    height: 150px;
    background: blue;
    margin: 10px 20px 30px 40px;
   display: inline-block;
   padding: 50px;
}
.body{
    width: 180px;
    height: 150px;
    background: violet;
    margin: 50px;
    display:inline-block
    padding: 60px;
}